<section>
    <div class="main-content">
        <span>SOFTWARE DEVELOPER</span>
        <h1>Ingrid</h1>
        <p>Bem-vindo ao meu portfólio online! Sou uma desenvolvedora de software com um ano de experiência no Banco Itaú, onde tive a oportunidade de trabalhar em projetos desafiadores e impactantes. 
            Tenho conhecimento em Angular, estou constantemente aprimorando minhas habilidades para oferecer produtos web dinâmicos e responsivos. Além disso, tenho experiência básica em Java e sou praticante em AWS, utilizando serviços em nuvem para garantir escalabilidade, segurança e eficiência em meus projetos.
            
            Ao longo da minha jornada profissional, participei de iniciativas que abrangem desde o desenvolvimento de aplicações internas até a integração de sistemas complexos.Assim como desenvolvimento utilizando a ferramenta Content management systems (CMS).</p>
        <btn-primary text="download cv"></btn-primary>
    </div>
    <main-animation></main-animation>
</section>
